In [1]:
import pandas as pd
import os
import shutil
import sqlite3

In [3]:
landing = '/workspaces/api-geral/GEO/CEP/dados/landing/'

leitor_landing = os.listdir(landing)
print(leitor_landing)

['resultado_concat_20240501_162447.txt']

In [36]:
from datetime import datetime
import os.path


timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')

bckp_path = '/workspaces/api-geral/GEO/CEP/ingestion/dados_bckp/'
landing = '/workspaces/api-geral/GEO/CEP/dados/landing/'
word_key = 'resultado'

ultimo_timestamp = None
caminho_arquivo = None


for root, dirs, files in os.walk(landing):
    for nome_arquivo in files:
        if word_key in nome_arquivo:
            caminho_completo = os.path.join(root, nome_arquivo)
            timestamp = os.path.getmtime(caminho_completo)
            if ultimo_timestamp is None or timestamp > ultimo_timestamp:
                ultimo_timestamp = timestamp
                caminho_arquivo = caminho_completo
                checking = os.path.isfile(caminho_arquivo)
                if checking == True:
                    print(checking)
                else:
                    print('Error checking')
                if os.path.isfile(caminho_arquivo):
                    file_extension = os.path.splitext(caminho_arquivo)[1]
                    if file_extension.lower() in {'.txt', '.csv'}:
                        print(f'file extension csv or txt, ok! extension: {file_extension}')
                    elif file_extension.lower() in {'.bin'}:
                        print('file extension binary, ok')
                        print(file_extension)
                    else:
                        print('extension error, not found')

if caminho_arquivo:
    df = pd.read_csv(caminho_arquivo, sep=';')
    file_bckp = f'{caminho_arquivo}'
    df_ccep = df['cep'].str.replace(r'-', '')
    df_cep =df['cep'].str.extract(r'(\d{5})-\d{3}')
    df_cep_compl = df['cep'].str.extract(r'(-\d{3})')
    df['ccep'] = df_ccep
    df['cep_loc'] = df_cep
    df['cep_compl'] = df_cep_compl
    df_rplc = df['cep_compl'].str.replace('-', '')
    df['ccep_compl'] = df_rplc
    columns = ['cep', 'cep_compl']
    df.drop(columns, inplace=True, axis=1)
    df['ccep'].astype(int)
    df['cep_loc'].astype(int)
    df['ccep_compl'].astype(int)
    
    
    os.system(f'cp {caminho_arquivo} {bckp_path}')
    print(f'file copy: {file_bckp}')
    display(df)

True
file extension csv or txt, ok! extension: .txt
file copy: /workspaces/api-geral/GEO/CEP/dados/landing/resultado_concat_20240513_162447.txt

,logradouro,bairro,localidade,uf,ibge,gia,ddd,siafi,ccep,cep_loc,ccep_compl
0,Rua Mairiporã,Mantiqueira,Mairiporã,SP,3528502,4339,11,6671,07613580,07613,580
1,Rua JasminsJd Mairipora I,Rio Abaixo,Mairiporã,SP,3528502,4339,11,6671,07605020,07605,020
2,Rua OrquideasJd Mairipora I,Rio Abaixo,Mairiporã,SP,3528502,4339,11,6671,07605065,07605,065
3,Rua GirassolJd Mairipora II,Rio Abaixo,Mairiporã,SP,3528502,4339,11,6671,07605225,07605,225
4,Rua das RosasJd Mairipora II,Rio Abaixo,Mairiporã,SP,3528502,4339,11,6671,07605200,07605,200
...,...,...,...,...,...,...,...,...,...,...,...
211,Avenida das Carnaubas,Olho D'Água,Mairiporã,SP,3528502,4339,11,6671,07601170,07601,170
212,Avenida das Camélias,Roseira,Mairiporã,SP,3528502,4339,11,6671,07619228,07619,228
213,Avenida dos Coqueiros,Barreiro,Mairiporã,SP,3528502,4339,11,6671,07611400,07611,400
214,Avenida Manoel Martins,Samambaia,Mairiporã,SP,3528502,4339,11,6671,07623025,07623,025
215,Avenida dos Girassóis,Santa Inês,Mairiporã,SP,3528502,4339,11,6671,07610620,07610,620

In [38]:
import json 
import os
from datetime import datetime
import os.path

timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')

bckp_path = '/workspaces/api-geral/GEO/CEP/ingestion/dados_bckp/'
layout = '/workspaces/api-geral/GEO/CEP/ingestion/dados_ing/layout/'
word_key = 'resultado_cep'


ultimo_timestamp = None
caminho_arquivo = None


for root, dirs, files in os.walk(layout):
    for nome_arquivo in files:
        if word_key in nome_arquivo:
            caminho_completo = os.path.join(root, nome_arquivo)
            timestamp = os.path.getmtime(caminho_completo)
            if ultimo_timestamp is None or timestamp > ultimo_timestamp:
                ultimo_timestamp = timestamp
                caminho_arquivo = caminho_completo
                checking = os.path.isfile(caminho_arquivo)
                if checking == True:
                    print(checking)
                else:
                    print('Error checking')
                if os.path.isfile(caminho_arquivo):
                    file_extension = os.path.splitext(caminho_arquivo)[1]
                    if file_extension.lower() in {'.json'}:
                        print(f'file extension json, ok! extension: {file_extension}')
                    else:
                        print('extension json error, not found')
                    print(caminho_arquivo)

True
file extension json, ok! extension: .json
/workspaces/api-geral/GEO/CEP/ingestion/dados_ing/layout/resultado_cep.json

In [9]:
import json
import pandas as pd
import sqlite3
import os
from datetime import datetime
import os.path
import time

print('Iniciando ingestão!')
time.sleep(3)
file_col_json = '/workspaces/api-geral/GEO/CEP/ingestion/dados_ing/src/estrutura_cep.json'
file_tb_json = '/workspaces/api-geral/GEO/CEP/ingestion/dados_ing/layout/resultado_cep.json'
print('Carregando variáveis json')

time.sleep(3)
# Ler configurações das colunas
with open(f'{file_col_json}', 'r') as f:
    config_colunas = json.load(f)
    print('Lendo estrutura de coluna json')

time.sleep(3)
# Ler configurações da tabela
with open(f'{file_tb_json}', 'r') as f:
    config_tabela = json.load(f)
    print('Lendo estrutura tabela json')

print('Carregando variáveis do arquivo de ingestão')
time.sleep(3)
timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')
bckp_path = '/workspaces/api-geral/GEO/CEP/ingestion/dados_bckp/'
word_key = 'resultado_cep'

ultimo_timestamp = None
caminho_arquivo = None

print('Realizando iteração')
print('Buscando o último arquivo ingerido de acordo com o timestamp')
time.sleep(3)
for root, dirs, files in os.walk(layout):
    for nome_arquivo in files:
        if word_key in nome_arquivo:
            caminho_completo = os.path.join(root, nome_arquivo)
            timestamp = os.path.getmtime(caminho_completo)
            if ultimo_timestamp is None or timestamp > ultimo_timestamp:
                ultimo_timestamp = timestamp
                caminho_arquivo = caminho_completo
                print('Arquivo encontrado!')
                print('Realizando checking do arquivo.')
                time.sleep(3)
                checking = os.path.isfile(caminho_arquivo)
                if checking:
                    print(checking)
                else:
                    print('Error checking')
                if os.path.isfile(caminho_arquivo):
                    file_extension = os.path.splitext(caminho_arquivo)[1]
                    if file_extension.lower() in {'.txt', '.csv'}:
                        print(f'File extension {file_extension} is supported.')
                    else:
                        print('Extension not supported.')
                    print(caminho_arquivo)

print('Carregando arquivo...')
time.sleep(3)

# Carregar dados
arquivo_dados = caminho_arquivo
if arquivo_dados.endswith('.txt'):
    dados = pd.read_csv(arquivo_dados, delimiter='\t', header=None, names=[col['nome'] for col in config_colunas['colunas']])
elif arquivo_dados.endswith('.csv'):
    dados = pd.read_csv(arquivo_dados, header=None, names=[col['nome'] for col in config_colunas['colunas']])
else:
    print("Formato de arquivo não suportado:", arquivo_dados)

print('Convertendo tipos de dados')
time.sleep(3)
# Conversão de tipos de dados
for col in config_colunas['colunas']:
    if col['tipo'] == 'int':
        dados[col['nome']] = dados[col['nome']].astype(int)
    elif col['tipo'] == 'float':
        dados[col['nome']] = dados[col['nome']].astype(float)
    elif col['tipo'] == 'data':
        dados[col['nome']] = pd.to_datetime(dados[col['nome']], format=col.get('formato', None))

print('Conectando no banco de dados')
# Conectar ao banco de dados
conn = sqlite3.connect('banco_cep_teste.db')
cursor = conn.cursor()

# Inserir dados na tabela
for index, row in dados.iterrows():
    values = tuple(row[col['nome']] for col in config_colunas['colunas'])
    sql = f"INSERT INTO {config_tabela['tabela']} ({', '.join([col['nome'] for col in config_colunas['colunas']])}) VALUES ({', '.join(['?' for _ in config_colunas['colunas']])})"
    cursor.execute(sql, values)

# Confirmar as alterações e fechar a conexão
conn.commit()
conn.close()

print("Ingestão de dados concluída com sucesso!")

Iniciando ingestão!
Carregando variáveis json
Lendo estrutura de coluna json
Lendo estrutura tabela json
Carregando variáveis do arquivo de ingestão
Realizando iteração
Buscando o último arquivo ingerido de acordo com o timestamp
Arquivo encontrado!
Realizando checking do arquivo.
True
Extension not supported.
/workspaces/api-geral/GEO/CEP/ingestion/dados_ing/layout/resultado_cep.json
Carregando arquivo...
Formato de arquivo não suportado: /workspaces/api-geral/GEO/CEP/ingestion/dados_ing/layout/resultado_cep.json
Convertendo tipos de dados

NameError: name 'dados' is not defined

In [30]:
import json
import pandas as pd
import sqlite3
import os
from datetime import datetime
import os.path
import time

print('iniciando ingestão!')
time.sleep(3)
file_col_json = '/workspaces/api-geral/GEO/CEP/ingestion/dados_ing/src/estrutura_cep.json'
file_tb_json = '/workspaces/api-geral/GEO/CEP/ingestion/dados_ing/layout/resultado_cep.json'
print('carregando variaveis json')

time.sleep(3)
# Ler configurações das colunas
with open(f'{file_col_json}', 'r') as f:
    config_colunas = json.load(f)
    print('lendo estrutura de coluna json')

time.sleep(3)
# Ler configurações da tabela
with open(f'{file_tb_json}', 'r') as f:
    config_tabela = json.load(f)
    print('lendo estrutura tabela json')

print('carregando variaveis do arquivo de ingestão')
time.sleep(3)
timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')
bckp_path = '/workspaces/api-geral/GEO/CEP/ingestion/dados_bckp/'
landing = '/workspaces/api-geral/GEO/CEP/dados/landing/'
word_key = 'resultado'

ultimo_timestamp = None
caminho_arquivo = None

print('realizando iteração')
print('buscando o ultimo arquivo ingerido de acordo com o timestamp')
time.sleep(3)
for root, dirs, files in os.walk(landing):
    for nome_arquivo in files:
        if word_key in nome_arquivo:
            caminho_completo = os.path.join(root, nome_arquivo)
            timestamp = os.path.getmtime(caminho_completo)
            if ultimo_timestamp is None or timestamp > ultimo_timestamp:
                ultimo_timestamp = timestamp
                caminho_arquivo = caminho_completo
                print('arquivo encontrado!')
                print('realizando checking do arquivo.')
                time.sleep(3)
                checking = os.path.isfile(caminho_arquivo)
                if checking == True:
                    print(checking)
                else:
                    print('Error checking')
                if os.path.isfile(caminho_arquivo):
                    file_extension = os.path.splitext(caminho_arquivo)[1]
                    if file_extension.lower() in {'.json'}:
                        print(f'file extension json, ok! extension: {file_extension}')
                    else:
                        print('extension json error, not found')
                    print(caminho_arquivo)

print('carregando arquivo...')
time.sleep(3)

# Carregar dados
arquivo_dados = caminho_arquivo
if arquivo_dados.endswith('.txt'):
    dados = pd.read_csv(arquivo_dados, delimiter='\t', header=None, names=[col['nome'] for col in config_colunas['colunas']])
elif arquivo_dados.endswith('.csv'):
    dados = pd.read_csv(arquivo_dados, header=None, names=[col['nome'] for col in config_colunas['colunas']])
elif arquivo_dados.endswith('.bin'):
    # Lógica para carregar dados de um arquivo binário
    pass
else:
    raise ValueError("Formato de arquivo não suportado")

print('convertendo tipos de dados')
time.sleep(3)
# Conversão de tipos de dados
for col in config_colunas['colunas']:
    if col['tipo'] == 'int':
        dados[col['nome']] = dados[col['nome']].astype(int)
    elif col['tipo'] == 'float':
        dados[col['nome']] = dados[col['nome']].astype(float)
    elif col['tipo'] == 'data':
        dados[col['nome']] = pd.to_datetime(dados[col['nome']], format=col.get('formato', None))

print('conctando no banco de dados')
# Conectar ao banco de dados
banco = '/workspaces/api-geral/GEO/CEP/sql/db/banco_cep_teste.db'
conn = sqlite3.connect(f'{banco}')
cursor = conn.cursor()

# Criar tabela com base na estrutura definida no arquivo JSON
print('Criando tabela no banco de dados...')
sql_create_table = f"CREATE TABLE IF NOT EXISTS {config_tabela['tabela']} ("
for col in config_colunas['colunas']:
    sql_create_table += f"{col['nome']} {col['tipo']}, "
sql_create_table = sql_create_table[:-2] + ")"
cursor.execute(sql_create_table)

# Inserir dados na tabela
print('Inserindo dados na tabela...')
for index, row in dados.iterrows():
    mapped_values = []
    for col in config_colunas['colunas']:
        mapped_values.append(row.get(col['nome'], None))
    print("Valores mapeados:", mapped_values)
    sql = f"INSERT INTO {config_tabela['tabela']} ({', '.join([col['nome'] for col in config_colunas['colunas']])}) VALUES ({', '.join(['?' for _ in mapped_values])})"
    print("SQL:", sql)
    cursor.execute(sql, mapped_values)

# Confirmar as alterações e fechar a conexão
print('Commit e fechamento da conexão...')
conn.commit()
conn.close()

print("Ingestão de dados concluída com sucesso!")

iniciando ingestão!

carregando variaveis json
lendo estrutura de coluna json
lendo estrutura tabela json
carregando variaveis do arquivo de ingestão
realizando iteração
buscando o ultimo arquivo ingerido de acordo com o timestamp
arquivo encontrado!
realizando checking do arquivo.
True
extension json error, not found
/workspaces/api-geral/GEO/CEP/dados/landing/resultado_concat_20240513_162447.txt
carregando arquivo...
convertendo tipos de dados
conctando no banco de dados
Criando tabela no banco de dados...
Inserindo dados na tabela...
Valores mapeados: ['cep;logradouro;bairro;localidade;uf;ibge;gia;ddd;siafi', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07613-580;Rua Mairiporã;Mantiqueira;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-020;Rua JasminsJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-065;Rua OrquideasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-225;Rua GirassolJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-200;Rua das RosasJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-230;Rua AntúriosJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-070;Rua dos CravosJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-025;Alameda LíriosJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-095;Alameda TulipasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-045;Alameda GiestasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-060;Alameda GirassolJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-180;Rua Acácias - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-030;Alameda AcáciasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-240;Rua HortênciasJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-015;Alameda AzaléiaJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-035;Alameda BegôniasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-080;Alameda das RosasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-010;Praça JacarandáJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07629-460;Praça Lions Club de Mairiporã;Capoavinha;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-100;Alameda AntúriosJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07658-515;Rua TucanoPaineira de Mairipora;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07600-026;Praça Rotary Club de Mairiporã;Centro;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-205;Rua das BegôniasJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-220;Rua Flor de LotusJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-075;Alameda MargaridasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-170;Alameda Giestas - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07656-130;Alameda dos TucanosAld Mairiporã;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-210;Alameda Lírios - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-215;Alameda Tulipas - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07656-135;Travessa dos TucanosAld Mairiporã;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-190;Alameda dos JasminsJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-175;Alameda Azaléia - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-040;Alameda Flor de MaioJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-085;Alameda Amor PerfeitoJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ["07656-175;Travessa Olho D'ÁguaAld Mairiporã;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671", nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-195;Rua das Orquideas - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-185;Alameda Camélias - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-165;Alameda Flor de Maio - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-150;Alameda Amor Perfeito - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-235;Alameda das Margaridas - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-090;Alameda Mater Boni ConsiliiJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-055;Alameda das Ilhas Havaianas Jd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07613-500;Rodovia Arão Sahm;Mantiqueira;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07652-010;Rodovia Arão Sahm;Remédios;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07613-300;Rodovia Arão Sahm;Boa Vista;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07625-500;Rodovia Arão Sahm;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07631-200;Rodovia Arão Sahm;Rio Acima;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07662-810;Rodovia Arão Sahm;Terra Preta (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07664-000;Rodovia Arão Sahm;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07600-070;Rodovia Fernão Dias;Centro;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07663-000;Rodovia Fernão Dias;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07629-000;Rodovia Fernão Dias;Capoavinha;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07600-400;Rodovia Fernão Dias;Moinho;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07625-000;Rodovia Fernão Dias;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07631-300;Rodovia Fernão Dias;Rio Acima;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07600-320;Rodovia Fernão Dias;Cidade Jardim;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07661-000;Rodovia Fernão Dias;Terra Preta (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ["07602-200;Rodovia Fernão Dias;Olho D'Água;Mairiporã;SP;3528502;4339;11;6671", nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07600-598;Rodovia Prefeito Luiz Salomao Chamma;Lavapés;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-700;Rodovia Prefeito Luiz Salomao Chamma;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07600-740;Estrada Armando Barbosa de Almeida;Chácara Arantes;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07605-005;Estrada Armando Barbosa de Almeida;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07604-525;Estrada Armando Barbosa de Almeida;Caceia;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-700;Estrada D;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-670;Estrada G;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-630;Estrada K;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-650;Estrada A;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-620;Estrada H;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-560;Estrada L;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-640;Estrada B;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-660;Estrada E;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-610;Estrada I;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-520;Estrada M;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['07642-730;Estrada C;Invernada;Mairiporã;SP;3528502;4339;11;6671', nan, nan, nan, nan, nan, nan, nan]
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)

In [31]:
# Conectar ao banco de dados
banco = '/workspaces/api-geral/GEO/CEP/sql/db/banco_cep_teste.db'
conn = sqlite3.connect(f'{banco}')
cursor = conn.cursor()

tabela = 'tb_cep_brnz'
query = f'''
select * from {tabela}
'''
cursor.execute(query)
resultados = cursor.fetchall()
print('Resultado:')
for linha in resultados:
    print(linha)

Resultado:
('cep;logradouro;bairro;localidade;uf;ibge;gia;ddd;siafi', None, None, None, None, None, None, None)
('07613-580;Rua Mairiporã;Mantiqueira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-020;Rua JasminsJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-065;Rua OrquideasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-225;Rua GirassolJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-200;Rua das RosasJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-230;Rua AntúriosJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-070;Rua dos CravosJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-025;Alameda LíriosJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-095;Alameda TulipasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-045;Alameda GiestasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-060;Alameda GirassolJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-180;Rua Acácias - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-030;Alameda AcáciasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-240;Rua HortênciasJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-015;Alameda AzaléiaJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-035;Alameda BegôniasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-080;Alameda das RosasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-010;Praça JacarandáJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07629-460;Praça Lions Club de Mairiporã;Capoavinha;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-100;Alameda AntúriosJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07658-515;Rua TucanoPaineira de Mairipora;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07600-026;Praça Rotary Club de Mairiporã;Centro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-205;Rua das BegôniasJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-220;Rua Flor de LotusJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-075;Alameda MargaridasJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-170;Alameda Giestas - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07656-130;Alameda dos TucanosAld Mairiporã;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-210;Alameda Lírios - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-215;Alameda Tulipas - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07656-135;Travessa dos TucanosAld Mairiporã;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-190;Alameda dos JasminsJd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-175;Alameda Azaléia - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-040;Alameda Flor de MaioJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-085;Alameda Amor PerfeitoJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
("07656-175;Travessa Olho D'ÁguaAld Mairiporã;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671", None, None, None, None, None, None, None)
('07605-195;Rua das Orquideas - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-185;Alameda Camélias - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-165;Alameda Flor de Maio - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-150;Alameda Amor Perfeito - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-235;Alameda das Margaridas - Jd Mairipora II;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-090;Alameda Mater Boni ConsiliiJd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-055;Alameda das Ilhas Havaianas Jd Mairipora I;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07613-500;Rodovia Arão Sahm;Mantiqueira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07652-010;Rodovia Arão Sahm;Remédios;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07613-300;Rodovia Arão Sahm;Boa Vista;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07625-500;Rodovia Arão Sahm;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07631-200;Rodovia Arão Sahm;Rio Acima;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07662-810;Rodovia Arão Sahm;Terra Preta (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07664-000;Rodovia Arão Sahm;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07600-070;Rodovia Fernão Dias;Centro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07663-000;Rodovia Fernão Dias;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07629-000;Rodovia Fernão Dias;Capoavinha;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07600-400;Rodovia Fernão Dias;Moinho;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07625-000;Rodovia Fernão Dias;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07631-300;Rodovia Fernão Dias;Rio Acima;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07600-320;Rodovia Fernão Dias;Cidade Jardim;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07661-000;Rodovia Fernão Dias;Terra Preta (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
("07602-200;Rodovia Fernão Dias;Olho D'Água;Mairiporã;SP;3528502;4339;11;6671", None, None, None, None, None, None, None)
('07600-598;Rodovia Prefeito Luiz Salomao Chamma;Lavapés;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-700;Rodovia Prefeito Luiz Salomao Chamma;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07600-740;Estrada Armando Barbosa de Almeida;Chácara Arantes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-005;Estrada Armando Barbosa de Almeida;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07604-525;Estrada Armando Barbosa de Almeida;Caceia;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-700;Estrada D;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-670;Estrada G;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-630;Estrada K;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-650;Estrada A;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-620;Estrada H;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-560;Estrada L;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-640;Estrada B;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-660;Estrada E;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-610;Estrada I;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-520;Estrada M;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-730;Estrada C;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-680;Estrada F;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-600;Estrada J;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-510;Estrada M2;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07664-270;Estrada Um;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-530;Estrada M1;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07626-403;Estrada Doze;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07632-590;Estrada Tupi;Rio Acima;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07664-275;Estrada Dois;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07663-180;Estrada Mirante;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07657-305;Estrada do Mimi;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07619-626;Estrada Fragoso;Roseira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07666-280;Estrada Laramara;Corumbá (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07642-580;Estrada do Clube;Invernada;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07626-420;Estrada do Itaim;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07657-275;Estrada da Fonte;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07664-390;Estrada Laramara;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07627-120;Estrada da Tapera;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07625-770;Estrada de Ibirá;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07666-100;Estrada Municipal;Corumbá (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07657-245;Estrada do Parque;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07626-105;Estrada Municipal;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07612-504;Estrada Existente;Boa Vista;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07619-622;Estrada Particular;Roseira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07626-100;Estrada dos Moraes;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07631-405;Estrada das Lavras;Rio Acima;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07618-640;Estrada São Pedro;Roseira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07634-005;Estrada das Lavras;Lavras;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07629-302;Estrada Tahira Eki;Capoavinha;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07638-020;Estrada das Lavras;Pirucaia;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07637-005;Estrada dos Moraes;Pirucaia;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07627-090;Estrada do Valinho;Luiz Fagundes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07623-190;Estrada do Canduá;Samambaia;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07667-700;Estrada Particular;Cardoso (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07657-285;Estrada da Represa;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07623-280;Estrada Santa Inês;Samambaia;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07667-690;Estrada Existente 2;Cardoso (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07657-250;Estrada da Floresta;Mato Dentro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07666-600;Estrada Municipal 2;Corumbá (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07667-680;Estrada do Corumbá;Cardoso (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07600-740;Estrada Armando Barbosa de Almeida;Chácara Arantes;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07605-005;Estrada Armando Barbosa de Almeida;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07604-525;Estrada Armando Barbosa de Almeida;Caceia;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07629-116;Rua C;Capoavinha;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07668-410;Rua B;Pedra Vermelha (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07629-108;Rua A;Capoavinha;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07645-300;Rua A;Marmelo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07610-390;Rua B;Santa Inês;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07622-100;Rua A;Caraguatá;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07612-748;Rua A;Boa Vista;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07610-380;Rua A;Santa Inês;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07661-150;Rua K;Terra Preta (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07629-020;Rua Um;Capoavinha;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07607-505;Rua Um;São Vicente;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07606-215;Rua Um;Rio Abaixo;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07619-092;Rua Um;Roseira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07668-425;Rua Um;Pedra Vermelha (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07662-745;Rua Um;Terra Preta (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07609-090;Rua Um;Vila Machado;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07653-620;Rua Um;Remédios;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07617-460;Rua Um;Juqueri Mirim;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07621-305;Rua Joa;Caraguatá;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07607-445;Rua Hum;São Vicente;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07619-052;Rua Dez;Roseira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07663-070;Rua Avay;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07619-072;Rua Onze;Roseira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07606-336;Rua Nice;Rancho Grande;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07621-290;Rua Ipê;Caraguatá;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07623-160;Rua Doze;Samambaia;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07667-660;Rua Rosa;Cardoso (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
("07601-055;Rua Tupi;Olho D'Água;Mairiporã;SP;3528502;4339;11;6671", None, None, None, None, None, None, None)
('07662-770;Rua Seis;Terra Preta (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07613-700;Rua Onix;Mantiqueira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07611-625;Rua Raia;Barreiro;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07663-345;Rua Onze;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07663-060;Rua Peru;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07623-145;Rua Nove;Samambaia;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07663-335;Rua Doze;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07666-265;Rua Edda;Corumbá (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07632-215;Rua Ypê;Rio Acima;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07623-110;Rua Riva;Samambaia;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07609-235;Rua Sete;Vila Machado;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07628-400;Rua Ipê;Mata Fria;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07667-650;Rua Sara;Cardoso (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07661-445;Rua Mero;Terra Preta (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07662-765;Rua Sete;Terra Preta (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07619-076;Rua Dois;Roseira;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07653-630;Rua Dois;Remédios;Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)
('07663-150;Rua Dois;Jundiaizinho (Terra Preta);Mairiporã;SP;3528502;4339;11;6671', None, None, None, None, None, None, None)

In [32]:
query = 'drop table tb_cep_brnz'
cursor.execute(query)
print('tabela excluida')
conn.commit()
conn.close()

tabela excluida

In [7]:
import json 

layout = '/workspaces/api-geral/GEO/CEP/ingestion/dados_ing/layout/resultado_cep.json'

read_layout = json.load(str(layout))
print(read_layout)

AttributeError: 'str' object has no attribute 'read'

In [ ]:
import os

file_path = "C:/folder/file.mp3"
if os.path.isfile(file_path):
    file_extension = os.path.splitext(file_path)[1]
    if file_extension.lower() in {'.mp3', '.flac', '.ogg'}:
        print("It's a music file")
    elif file_extension.lower() in {'.jpg', '.jpeg', '.png'}:
        print("It's an image file")

In [ ]:
                for check in caminho_arquivo:
                    ext = os.path.splitext(check)[-2].lower()
                    if ext == '.txt':
                        print(f'extension: {check}')
                    elif ext == '.csv':
                        print(f'extension: {check}')
                    else:
                        print(f'error extension format.')

In [ ]:
filepaths = ["/folder/soundfile.mp3", "folder1/folder/soundfile.flac"]

for fp in filepaths:
    # Split the extension from the path and normalise it to lowercase.
    ext = os.path.splitext(fp)[-1].lower()

    # Now we can simply use == to check for equality, no need for wildcards.
    if ext == ".mp3":
        print fp, "is an mp3!"
    elif ext == ".flac":
        print fp, "is a flac file!"
    else:
        print fp, "is an unknown file format."