In [1]:
import json
import pandas as pd
import sqlite3
import os
from datetime import datetime
import os.path
import time

In [5]:
print('iniciando ingestão!')
time.sleep(3)
file_col_json = '/workspaces/api-geral/ING/app/src/layouts/cep/tabela_cep.json'
file_tb_json = '/workspaces/api-geral/ING/app/src/layouts/cep/estrutura.json'
bckp_path = '/workspaces/api-geral/ING/app/src/bckp/'
landing = '/workspaces/api-geral/ING/app/src/data/landing/'
word_key = 'resultado'
timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')

ultimo_timestamp = None
caminho_arquivo = None

print('carregando variaveis json')
time.sleep(3)
# Ler configurações das colunas
with open(f'{file_col_json}', 'r') as f:
    config_colunas = json.load(f)
    print('lendo estrutura de coluna json')

time.sleep(3)
# Ler configurações da tabela
with open(f'{file_tb_json}', 'r') as f:
    config_tabela = json.load(f)
    print('lendo estrutura tabela json')

print('carregando variaveis do arquivo de ingestão')
time.sleep(3)

print('realizando iteração')
print('buscando o ultimo arquivo ingerido de acordo com o timestamp')
time.sleep(3)
for root, dirs, files in os.walk(landing):
    for nome_arquivo in files:
        if word_key in nome_arquivo:
            caminho_completo = os.path.join(root, nome_arquivo)
            timestamp = os.path.getmtime(caminho_completo)
            if ultimo_timestamp is None or timestamp > ultimo_timestamp:
                ultimo_timestamp = timestamp
                caminho_arquivo = caminho_completo
                print('arquivo encontrado!')
                print('realizando checking do arquivo.')
                time.sleep(3)
                checking = os.path.isfile(caminho_arquivo)
                if checking == True:
                    print(checking)
                else:
                    print('Error checking')
                if os.path.isfile(caminho_arquivo):
                    file_extension = os.path.splitext(caminho_arquivo)[1]
                    if file_extension.lower() in {'.json'}:
                        print(f'file extension json, ok! extension: {file_extension}')
                    else:
                        print('extension json error, not found')
                    print(caminho_arquivo)

print('carregando arquivo...')
time.sleep(3)
# Carregar dados
arquivo_dados = caminho_arquivo
if arquivo_dados.endswith('.txt'):
    dados = pd.read_csv(arquivo_dados, delimiter=';', header=None, names=[col['nome'] for col in config_colunas['colunas']])
elif arquivo_dados.endswith('.csv'):
    dados = pd.read_csv(arquivo_dados, header=None, names=[col['nome'] for col in config_colunas['colunas']])
elif arquivo_dados.endswith('.bin'):
    # Lógica para carregar dados de um arquivo binário
    pass
else:
    raise ValueError("Formato de arquivo não suportado")

print('convertendo tipos de dados')
time.sleep(3)
# Conversão de tipos de dados
for col in config_colunas['colunas']:
    if col['tipo'] == 'int':
        dados[col['nome']] = dados[col['nome']].astype(int)
    elif col['tipo'] == 'float':
        dados[col['nome']] = dados[col['nome']].astype(float)
    elif col['tipo'] == 'data':
        dados[col['nome']] = pd.to_datetime(dados[col['nome']], format=col.get('formato', None))

print('conctando no banco de dados')
# Conectar ao banco de dados
banco = '/workspaces/api-geral/ING/database/banco_cep_teste.db'
conn = sqlite3.connect(f'{banco}')
cursor = conn.cursor()

# Criar tabela com base na estrutura definida no arquivo JSON
print('Criando tabela no banco de dados...')
sql_create_table = f"CREATE TABLE IF NOT EXISTS {config_tabela['tabela']} ("
for col in config_colunas['colunas']:
    sql_create_table += f"{col['nome']} {col['tipo']}, "
sql_create_table = sql_create_table[:-2] + ")"
cursor.execute(sql_create_table)

# Inserir dados na tabela
print('Inserindo dados na tabela...')
for index, row in dados.iterrows():
    mapped_values = []
    for col in config_colunas['colunas']:
        mapped_values.append(row.get(col['nome'], None))
    print("Valores mapeados:", mapped_values)
    sql = f"INSERT INTO {config_tabela['tabela']} ({', '.join([col['nome'] for col in config_colunas['colunas']])}) VALUES ({', '.join(['?' for _ in mapped_values])})"
    print("SQL:", sql)
    cursor.execute(sql, mapped_values)

# Confirmar as alterações e fechar a conexão
print('Commit e fechamento da conexão...')
conn.commit()
conn.close()

print("Ingestão de dados concluída com sucesso!")

iniciando ingestão!
carregando variaveis json
lendo estrutura de coluna json
lendo estrutura tabela json
carregando variaveis do arquivo de ingestão
realizando iteração
buscando o ultimo arquivo ingerido de acordo com o timestamp
arquivo encontrado!
realizando checking do arquivo.
True
extension json error, not found
/workspaces/api-geral/ING/app/src/data/landing/resultado_concat_20240513_162447.txt
carregando arquivo...
convertendo tipos de dados
conctando no banco de dados
Criando tabela no banco de dados...
Inserindo dados na tabela...
Valores mapeados: ['logradouro', 'bairro', 'localidade', 'uf', 'ibge', 'gia', 'ddd', 'siafi']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua Mairiporã', 'Mantiqueira', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua JasminsJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua OrquideasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua GirassolJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua das RosasJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua AntúriosJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua dos CravosJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda LíriosJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda TulipasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda GiestasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda GirassolJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua Acácias - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda AcáciasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua HortênciasJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda AzaléiaJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda BegôniasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda das RosasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Praça JacarandáJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Praça Lions Club de Mairiporã', 'Capoavinha', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda AntúriosJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua TucanoPaineira de Mairipora', 'Mato Dentro', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Praça Rotary Club de Mairiporã', 'Centro', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua das BegôniasJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua Flor de LotusJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda MargaridasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Giestas - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda dos TucanosAld Mairiporã', 'Mato Dentro', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Lírios - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Tulipas - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Travessa dos TucanosAld Mairiporã', 'Mato Dentro', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda dos JasminsJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Azaléia - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Flor de MaioJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Amor PerfeitoJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ["Travessa Olho D'ÁguaAld Mairiporã", 'Mato Dentro', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rua das Orquideas - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Camélias - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Flor de Maio - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Amor Perfeito - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda das Margaridas - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda Mater Boni ConsiliiJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Alameda das Ilhas Havaianas Jd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Arão Sahm', 'Mantiqueira', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Arão Sahm', 'Remédios', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Arão Sahm', 'Boa Vista', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Arão Sahm', 'Luiz Fagundes', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Arão Sahm', 'Rio Acima', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Arão Sahm', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Arão Sahm', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Fernão Dias', 'Centro', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Fernão Dias', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Fernão Dias', 'Capoavinha', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Fernão Dias', 'Moinho', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Fernão Dias', 'Luiz Fagundes', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Fernão Dias', 'Rio Acima', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Fernão Dias', 'Cidade Jardim', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Fernão Dias', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Fernão Dias', "Olho D'Água", 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Prefeito Luiz Salomao Chamma', 'Lavapés', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Rodovia Prefeito Luiz Salomao Chamma', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada Armando Barbosa de Almeida', 'Chácara Arantes', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada Armando Barbosa de Almeida', 'Rio Abaixo', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada Armando Barbosa de Almeida', 'Caceia', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada D', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada G', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada K', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada A', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada H', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada L', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada B', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada E', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada I', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada M', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada C', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada F', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada J', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada M2', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada Um', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada M1', 'Invernada', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada Doze', 'Luiz Fagundes', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada Tupi', 'Rio Acima', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']
SQL: INSERT INTO tb_cep_brnz (logradouro, bairro, localidade, uf, ibge, gia, ddd, siafi) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
Valores mapeados: ['Estrada Dois', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', '3528502', '4339', '11', '6671']

In [6]:
# Conectar ao banco de dados
banco = '/workspaces/api-geral/ING/database/banco_cep_teste.db'
conn = sqlite3.connect(f'{banco}')
cursor = conn.cursor()

tabela = 'tb_cep_brnz'
query = f'''
select * from {tabela}
'''
cursor.execute(query)
resultados = cursor.fetchall()
print('Resultado:')
for linha in resultados:
    print(linha)

Resultado:
('logradouro', 'bairro', 'localidade', 'uf', 'ibge', 'gia', 'ddd', 'siafi')
('Rua Mairiporã', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua JasminsJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua OrquideasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua GirassolJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua das RosasJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua AntúriosJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua dos CravosJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda LíriosJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda TulipasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda GiestasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda GirassolJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Acácias - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda AcáciasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua HortênciasJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda AzaléiaJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda BegôniasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda das RosasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Praça JacarandáJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Praça Lions Club de Mairiporã', 'Capoavinha', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda AntúriosJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua TucanoPaineira de Mairipora', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Praça Rotary Club de Mairiporã', 'Centro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua das BegôniasJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Flor de LotusJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda MargaridasJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Giestas - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda dos TucanosAld Mairiporã', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Lírios - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Tulipas - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Travessa dos TucanosAld Mairiporã', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda dos JasminsJd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Azaléia - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Flor de MaioJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Amor PerfeitoJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
("Travessa Olho D'ÁguaAld Mairiporã", 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua das Orquideas - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Camélias - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Flor de Maio - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Amor Perfeito - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda das Margaridas - Jd Mairipora II', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda Mater Boni ConsiliiJd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Alameda das Ilhas Havaianas Jd Mairipora I', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Arão Sahm', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Arão Sahm', 'Remédios', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Arão Sahm', 'Boa Vista', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Arão Sahm', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Arão Sahm', 'Rio Acima', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Arão Sahm', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Arão Sahm', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Fernão Dias', 'Centro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Fernão Dias', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Fernão Dias', 'Capoavinha', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Fernão Dias', 'Moinho', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Fernão Dias', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Fernão Dias', 'Rio Acima', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Fernão Dias', 'Cidade Jardim', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Fernão Dias', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Fernão Dias', "Olho D'Água", 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Prefeito Luiz Salomao Chamma', 'Lavapés', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rodovia Prefeito Luiz Salomao Chamma', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Armando Barbosa de Almeida', 'Chácara Arantes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Armando Barbosa de Almeida', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Armando Barbosa de Almeida', 'Caceia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada D', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada G', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada K', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada A', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada H', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada L', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada B', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada E', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada I', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada M', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada C', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada F', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada J', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada M2', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Um', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada M1', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Doze', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Tupi', 'Rio Acima', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Dois', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Mirante', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada do Mimi', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Fragoso', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Laramara', 'Corumbá (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada do Clube', 'Invernada', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada do Itaim', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada da Fonte', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Laramara', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada da Tapera', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada de Ibirá', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Municipal', 'Corumbá (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada do Parque', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Municipal', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Existente', 'Boa Vista', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Particular', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada dos Moraes', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada das Lavras', 'Rio Acima', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada São Pedro', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada das Lavras', 'Lavras', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Tahira Eki', 'Capoavinha', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada das Lavras', 'Pirucaia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada dos Moraes', 'Pirucaia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada do Valinho', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada do Canduá', 'Samambaia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Particular', 'Cardoso (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada da Represa', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Santa Inês', 'Samambaia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Existente 2', 'Cardoso (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada da Floresta', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Municipal 2', 'Corumbá (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada do Corumbá', 'Cardoso (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Armando Barbosa de Almeida', 'Chácara Arantes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Armando Barbosa de Almeida', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Estrada Armando Barbosa de Almeida', 'Caceia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua C', 'Capoavinha', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua B', 'Pedra Vermelha (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua A', 'Capoavinha', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua A', 'Marmelo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua B', 'Santa Inês', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua A', 'Caraguatá', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua A', 'Boa Vista', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua A', 'Santa Inês', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua K', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Um', 'Capoavinha', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Um', 'São Vicente', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Um', 'Rio Abaixo', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Um', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Um', 'Pedra Vermelha (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Um', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Um', 'Vila Machado', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Um', 'Remédios', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Um', 'Juqueri Mirim', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Joa', 'Caraguatá', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Hum', 'São Vicente', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Dez', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Avay', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Onze', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Nice', 'Rancho Grande', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Ipê', 'Caraguatá', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Doze', 'Samambaia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Rosa', 'Cardoso (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Tupi', "Olho D'Água", 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Seis', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Onix', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Raia', 'Barreiro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Onze', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Peru', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Nove', 'Samambaia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Doze', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Edda', 'Corumbá (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Ypê', 'Rio Acima', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Riva', 'Samambaia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Sete', 'Vila Machado', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Ipê', 'Mata Fria', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Sara', 'Cardoso (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Mero', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Sete', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Dois', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Dois', 'Remédios', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Dois', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Kiri', 'Caraguatá', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Oito', 'Samambaia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Lobo', 'Boa Vista', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Rua Poá', 'Capoavinha', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Hum', "Olho D'Água", 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Ouro', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Rubi', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Alpes', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Sandra', 'Rio Acima', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida do Sol', 'Rio Acima', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Galena', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Safira', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Brasil', 'Lavras', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Quartzo', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Bauxita', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Pérola', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Mariana', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Suécia', "Olho D'Água", 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Everest', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Marginal', 'Rio Acima', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Colônia', 'Boa Vista', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Marginal', 'São Vicente', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Montreal', "Olho D'Água", 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Himalaia', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Nebraska', 'Corumbá (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Espraiada', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida das Rosas', 'Caraguatá', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Maranduba', 'Caceia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Esmeralda', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Cancelata', 'Luiz Fagundes', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida dos Rubis', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Pau Marfim', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Flamboyant', 'Jundiaizinho (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida São Paulo', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida dos Cedros', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Campo Baio', 'Cumbari', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Ouro Preto', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Caraguatá', 'Cumbari', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Beira Lago', "Olho D'Água", 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida dos Angicos', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Neli Ladeia', 'Capoavinha', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Pietro Petri', 'Terra Preta (Terra Preta)', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida das Granadas', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Renato Pucci', 'Mantiqueira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida dos Beraldes', 'Mato Dentro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida das Caviunas', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Serra Morena', 'Barreiro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Minas Gerais', 'Mata Fria', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida dos Alecrins', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida das Carnaubas', "Olho D'Água", 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida das Camélias', 'Roseira', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida dos Coqueiros', 'Barreiro', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida Manoel Martins', 'Samambaia', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)
('Avenida dos Girassóis', 'Santa Inês', 'Mairiporã', 'SP', 3528502, 4339, 11, 6671)

In [4]:
query = 'drop table tb_cep_brnz'
cursor.execute(query)
print('tabela excluida')
conn.commit()
conn.close()

OperationalError: no such table: tb_cep_brnz