In [1]:
import os

In [4]:
# file = '/workspaces/api-geral/PRJ/dados/dados_fake.txt'
file = '/workspaces/api-geral/PRJ/dados/'

arquivo = os.listdir(file)

for i in arquivo:
    print(i)

dados_fake.txt

In [5]:
import shutil

In [7]:
arquivo = '/workspaces/api-geral/PRJ/dados/dados_fake.txt'
destino = '/workspaces/api-geral/TST/dados/'

mv = shutil.copy(arquivo, destino)
print('movendo arquivo')

movendo arquivo

In [9]:
import pandas as pd

file = '/workspaces/api-geral/TST/dados/dados_fake.txt'


df = pd.read_csv(file, sep=';')
display(df)

,nome,cpf,email,telefone,pagamento,cidade,estado,endereco,empresa,pais,data
0,Diogo Rezende,508.921.763-77,benjamin87@example.com,+55 (071) 4139 5801,1615.0,da Conceição Verde,Pernambuco,"Passarela da Cruz, 367\nSanto Antônio\n86370-8...",das Neves e Filhos,Brasil,2020-09-05
1,Anthony Melo,920.137.648-04,gnunes@example.net,(041) 0892-5173,2703.0,da Rosa da Prata,Rio de Janeiro,"Lago Ryan Gonçalves, 2\nFloresta\n14761-139 Al...",Cavalcanti,Brasil,2023-02-19
2,Natália Cunha,903.487.521-05,melobenicio@example.com,(071) 7672-6404,2541.0,da Rocha da Serra,Goiás,"Pátio de Oliveira, 80\nJatobá\n00644601 Moraes...",Rodrigues e Filhos,Brasil,2020-12-17
3,Ryan das Neves,218.603.475-17,brendada-cruz@example.net,+55 (031) 3639-3488,2596.0,Carvalho,Roraima,"Vale Martins, 41\nMariquinhas\n09221-231 Almei...",Nascimento - ME,Brasil,2023-04-27
4,Luiz Fernando Castro,201.968.435-70,camposmanuela@example.com,+55 (084) 9707 0720,3184.0,Silveira,Alagoas,"Ladeira de Cavalcanti, 743\nCidade Nova\n39125...",da Mata,Brasil,2020-10-23
5,Maria Cecília Caldeira,543.781.269-82,freitasraquel@example.org,71 4094 9791,4250.0,Lima Paulista,Amapá,"Quadra Martins, 18\nAguas Claras\n88330581 Mou...",Melo,Brasil,2020-12-20
6,Rafael da Conceição,294.853.670-74,leticia46@example.com,+55 (051) 6744 0009,3683.0,Nogueira de Dias,Acre,"Estação Nunes, 66\nNossa Senhora Da Conceição\...",Sales Souza S.A.,Brasil,2020-02-23
7,Sr. Rafael Cardoso,879.012.536-30,cunhapedro-miguel@example.net,+55 84 3816 4795,1300.0,Martins do Campo,Rio de Janeiro,Praia de Pinto\nVista Alegre\n15694494 Barros ...,Caldeira - ME,Brasil,2020-06-21
8,Paulo Lima,087.316.452-08,marcelo22@example.com,+55 21 9385 0646,10044.0,da Rocha,Alagoas,"Aeroporto Sophia Santos, 85\nBoa União 2ª Seçã...",Martins Novaes S/A,Brasil,2023-08-06
9,Caroline Porto,498.620.731-87,ribeiropaulo@example.net,+55 11 7868-2328,5935.0,Viana,Paraíba,"Praia Luiz Otávio Pires, 981\nBoa União 2ª Seç...",Pinto,Brasil,2020-09-23
10,Sra. Isadora Cavalcanti,039.572.814-23,sabrinada-mota@example.com,+55 51 6535 6458,4269.0,Dias de Nunes,Rio Grande do Sul,"Lagoa Eduarda Lima, 88\nMinaslandia\n28969984 ...",da Mota,Brasil,2021-04-25
11,Larissa Gonçalves,672.418.035-07,martinsana@example.com,0900 281 8856,4429.0,Pereira,Bahia,"Sítio Ramos, 59\nSanta Helena\n85794-999 Morae...",das Neves,Brasil,2021-09-12
12,Ana Lívia Farias,928.546.130-15,woliveira@example.org,(051) 9268-3549,6760.0,Castro da Mata,Roraima,"Lagoa Maria Sophia Mendes, 41\nMangueiras\n098...",da Conceição Barros Ltda.,Brasil,2021-09-02
13,Lara Silveira,417.359.826-28,caio89@example.net,(071) 6957-6085,4254.0,Ferreira,Santa Catarina,"Praia de Moraes, 7\nLuxemburgo\n97516-282 Alme...",Jesus,Brasil,2023-04-18
14,Dra. Maitê Barros,684.971.052-49,ccosta@example.net,+55 (021) 6869-7491,1488.0,Araújo,Mato Grosso,"Núcleo Cunha, 581\nNovo Tupi\n79079-810 Pereir...",Melo,Brasil,2022-01-22
15,Enzo Gabriel Costa,185.726.390-12,alicegomes@example.net,(011) 2248-5312,1554.0,Correia,Mato Grosso do Sul,"Praça de Cardoso, 13\nIndependência\n30071617 ...",Barbosa - ME,Brasil,2020-12-06
16,João Guilherme Campos,914.528.076-20,laraujo@example.com,71 8683-0444,5730.0,Novaes,Tocantins,"Estação Viana, 2\nVila São Gabriel\n27781426 d...",da Conceição Ltda.,Brasil,2021-09-10
17,Diogo Peixoto,623.147.590-52,xnascimento@example.net,+55 (011) 1155 9802,9594.0,Costa Grande,Piauí,"Viaduto Yasmin Nascimento, 15\nItaipu\n80807-5...",Gonçalves S.A.,Brasil,2023-10-21
18,Srta. Sophia Dias,974.180.653-10,biancafreitas@example.org,(061) 0210-4370,4478.0,Santos,Pará,Área de Pereira\nLuxemburgo\n25115788 Viana / ES,Barbosa,Brasil,2021-06-10
19,Cauê Pinto,860.135.942-60,yago23@example.org,84 2171 7558,2130.0,Cardoso,Distrito Federal,Estrada Bruna da Conceição\nCamargos\n55657828...,da Mota,Brasil,2021-10-26
20,Isabella Rocha,376.241.890-03,thalescarvalho@example.net,+55 (051) 9470-6702,4888.0,Santos,Roraima,Avenida de Oliveira\nNova Pampulha\n15775852 B...,Nunes Azevedo S/A,Brasil,2020-03-02
21,Ana Lívia Cavalcanti,846.071.532-90,pcarvalho@example.net,0300-744-5804,9164.0,Ribeiro de Gonçalves,Paraná,"Quadra de Pinto, 27\nJatobá\n71556-853 Fogaça ...",Cavalcanti,Brasil,2021-02-20
22,Maria Alice Porto,869.037.452-38,diashenrique@example.com,0800-150-7495,8277.0,Silva do Campo,Piauí,Campo Pinto\nUrca\n18869-998 Duarte / RR,Pereira,Brasil,2023-12-02
23,Igor Souza,490.536.172-99,luiz-gustavorezende@example.net,+55 (021) 4840-7696,8947.0,Rezende do Amparo,Tocantins,"Passarela Pietro Gonçalves, 67\nJardim Felicid...",Pereira,Brasil,2022-12-02
24,Dra. Caroline Melo,053.897.416-84,costelamaria-julia@example.com,0800 420 0951,7431.0,Novaes,Paraná,"Passarela da Rosa, 69\nNovo Ouro Preto\n94730-...",Porto,Brasil,2020-10-02
25,Ana Clara Cardoso,789.165.320-86,manuelapereira@example.net,61 1221-0665,4567.0,da Mata de Minas,Distrito Federal,"Praça de Correia, 215\nSão Jorge 2ª Seção\n021...",Peixoto da Mata - EI,Brasil,2023-05-29
26,Alícia Jesus,327.458.960-83,teixeiradanilo@example.com,(071) 7300-9812,3341.0,Cardoso dos Dourados,Bahia,"Área de Cardoso, 7\nBela Vitoria\n10581120 da ...",Viana,Brasil,2023-02-15
27,Ana Pereira,687.123.590-68,eda-cruz@example.org,+55 (081) 7488-7106,7338.0,Oliveira,Alagoas,"Vale de da Cunha, 23\nCaiçaras\n08114-778 Nova...",Oliveira,Brasil,2020-11-12
28,Sra. Cecília Almeida,406.935.827-74,emillyda-rocha@example.com,+55 (061) 4488 3728,6283.0,Farias de Minas,Bahia,"Estação Fogaça, 81\nZilah Sposito\n51377737 Pe...",Oliveira Cardoso S.A.,Brasil,2020-11-03
29,Marcela da Cunha,370.596.814-93,kda-paz@example.com,71 9586 0244,4423.0,Freitas,Piauí,"Distrito da Rocha, 84\nJardim Atlântico\n62177...",da Rosa,Brasil,2020-08-09

In [2]:
dados = [
    {'nome': 'rafael', 'idade': '30', 'cidade': 'mairiporã', 'estado': 'São Paulo'},
    {'nome': 'joyce', 'idade': '27', 'cidade': 'mairiporã', 'estado': 'São Paulo'},
    {'nome': 'ricardo', 'idade': '35', 'cidade': 'blumenau', 'estado': 'Santa Catarina'}
]

In [4]:
import pandas as pd
df = pd.DataFrame(dados)
display(df)

      nome idade     cidade          estado
0   rafael    30  mairiporã       São Paulo
1    joyce    27  mairiporã       São Paulo
2  ricardo    35   blumenau  Santa Catarina

In [ ]:
# Exemplo de DataFrame com a coluna 'mensagem'
data = {'mensagem': ['São Paulo',
                     'Santa Catarina',
                     ]}

df = pd.DataFrame(data)

# Aplicar condições diretamente usando uma expressão lambda
df['resultado'] = df['mensagem'].apply(lambda x: 'sucesso' if 'sucesso' in x else ('falha' if any(word in x.lower() for word in ['falha', 'abend', 'not found']) else 'outro'))

# Exibir o DataFrame resultante
print(df)

In [7]:
dados = [
    {'nome': 'rafael', 'idade': '30', 'cidade': 'mairiporã', 'estado': 'São Paulo'},
    {'nome': 'joyce', 'idade': '27', 'cidade': 'mairiporã', 'estado': 'São Paulo'},
    {'nome': 'ricardo', 'idade': '35', 'cidade': 'blumenau', 'estado': 'Santa Catarina'},
    {'nome': 'carlos', 'idade': '40', 'cidade': 'salvador', 'estado': 'Bahia'}
]

# Aplicar condições diretamente usando uma expressão lambda
for pessoa in dados:
    pessoa['região'] = 'Sudeste' if pessoa['estado'].lower() == 'são paulo' else 'Sul' if pessoa['estado'].lower() == 'santa catarina' else 'Nordeste' if pessoa['estado'].lower() == 'bahia' else 'Outra'

# Exibir os dados atualizados
print(dados)

df = pd.DataFrame(dados)
display(df)

[{'nome': 'rafael', 'idade': '30', 'cidade': 'mairiporã', 'estado': 'São Paulo', 'região': 'Sudeste'}, {'nome': 'joyce', 'idade': '27', 'cidade': 'mairiporã', 'estado': 'São Paulo', 'região': 'Sudeste'}, {'nome': 'ricardo', 'idade': '35', 'cidade': 'blumenau', 'estado': 'Santa Catarina', 'região': 'Sul'}, {'nome': 'carlos', 'idade': '40', 'cidade': 'salvador', 'estado': 'Bahia', 'região': 'Nordeste'}]

      nome idade     cidade          estado    região
0   rafael    30  mairiporã       São Paulo   Sudeste
1    joyce    27  mairiporã       São Paulo   Sudeste
2  ricardo    35   blumenau  Santa Catarina       Sul
3   carlos    40   salvador           Bahia  Nordeste

In [11]:
dados = [
    {'nome': 'rafael', 'idade': '30', 'cidade': 'mairiporã', 'estado': 'São Paulo'},
    {'nome': 'joyce', 'idade': '27', 'cidade': 'mairiporã', 'estado': 'São Paulo'},
    {'nome': 'ricardo', 'idade': '35', 'cidade': 'blumenau', 'estado': 'Santa Catarina'},
    {'nome': 'carlos', 'idade': '40', 'cidade': 'salvador', 'estado': 'Bahia'},
    {'nome': 'luiz', 'idade': '20', 'cidade': 'manaus', 'estado': 'Amazonas'}
]

# Lista de tuplas contendo os pares de estado e região
estado_regiao = [
    ('são paulo', 'Sudeste'),
    ('santa catarina', 'Sul'),
    ('bahia', 'Nordeste')
]

# Aplicar condições diretamente usando uma expressão lambda
for pessoa in dados:
    pessoa['região'] = next((regiao for estado, regiao in estado_regiao if estado == pessoa['estado'].lower()), 'Outra')

# Exibir os dados atualizados
print(dados)

df = pd.DataFrame(dados)
display(df)

[{'nome': 'rafael', 'idade': '30', 'cidade': 'mairiporã', 'estado': 'São Paulo', 'região': 'Sudeste'}, {'nome': 'joyce', 'idade': '27', 'cidade': 'mairiporã', 'estado': 'São Paulo', 'região': 'Sudeste'}, {'nome': 'ricardo', 'idade': '35', 'cidade': 'blumenau', 'estado': 'Santa Catarina', 'região': 'Sul'}, {'nome': 'carlos', 'idade': '40', 'cidade': 'salvador', 'estado': 'Bahia', 'região': 'Nordeste'}, {'nome': 'luiz', 'idade': '20', 'cidade': 'manaus', 'estado': 'Amazonas', 'região': 'Outra'}]

      nome idade     cidade          estado    região
0   rafael    30  mairiporã       São Paulo   Sudeste
1    joyce    27  mairiporã       São Paulo   Sudeste
2  ricardo    35   blumenau  Santa Catarina       Sul
3   carlos    40   salvador           Bahia  Nordeste
4     luiz    20     manaus        Amazonas     Outra

In [5]:
dados = [
    {'job':'aasf_pix_recb', 'job_id':'1232312131231', 'status':'sucesso', 'mensagem':'job executio sucess', 'data':'28/02/2024'},
    {'job':'aasf_pix_autom', 'job_id':'21233145551512', 'status':'falha', 'mensagem':'job aborted', 'data':'27/02/2024'},
    {'job':'aasf_pix_reinv', 'job_id':'55557754748890', 'status':'falha', 'mensagem':'script failed', 'data':'27/02/2024'},
    {'job':'aasf_pix_pagm', 'job_id':'313123155778891', 'status':'falha', 'mensagem':'job skiped', 'data':'26/02/2024'}   
         ]

In [6]:
texto_msg = [
    ('job executio sucess' 'sucesso'),
    ('job aborted' 'erro de conexão'),
    ('script failed' 'erro no script'),
    ('job skiped' 'erro desconhecido')
]

In [8]:
dados = [
    {'job':'aasf_pix_recb', 'job_id':'1232312131231', 'status':'sucesso', 'mensagem':'job executio sucess', 'data':'28/02/2024'},
    {'job':'aasf_pix_autom', 'job_id':'21233145551512', 'status':'falha', 'mensagem':'job aborted', 'data':'27/02/2024'},
    {'job':'aasf_pix_reinv', 'job_id':'55557754748890', 'status':'falha', 'mensagem':'script failed', 'data':'27/02/2024'},
    {'job':'aasf_pix_pagm', 'job_id':'313123155778891', 'status':'falha', 'mensagem':'job skiped', 'data':'26/02/2024'}   
         ]


texto_msg = [
    ('job executio sucess', 'sucesso'),
    ('job aborted', 'erro de conexão'),
    ('script failed', 'erro no script'),
    ('job skiped', 'erro desconhecido')
]


for texto in dados:
    texto['mensagem_job'] = next((mensagem_job for mensagem, mensagem_job in texto_msg if mensagem == texto['mensagem_job'].lower()), 'Outra')

# Exibir os dados atualizados
print(dados)

df = pd.DataFrame(dados)
display(df)

KeyError: 'mensagem_job'

In [9]:
import pandas as pd

dados = [
    {'job':'aasf_pix_recb', 'job_id':'1232312131231', 'status':'sucesso', 'mensagem':'job executio sucess', 'data':'28/02/2024'},
    {'job':'aasf_pix_autom', 'job_id':'21233145551512', 'status':'falha', 'mensagem':'job aborted', 'data':'27/02/2024'},
    {'job':'aasf_pix_reinv', 'job_id':'55557754748890', 'status':'falha', 'mensagem':'script failed', 'data':'27/02/2024'},
    {'job':'aasf_pix_pagm', 'job_id':'313123155778891', 'status':'falha', 'mensagem':'job skiped', 'data':'26/02/2024'}   
]

texto_msg = [
    ('job executio sucess', 'sucesso'),
    ('job aborted', 'erro de conexão'),
    ('script failed', 'erro no script'),
    ('job skiped', 'erro desconhecido')
]

for texto in dados:
    texto['mensagem_job'] = next((mensagem_job for mensagem, mensagem_job in texto_msg if mensagem == texto['mensagem'].lower()), 'Outra')

# Exibir os dados atualizados
print(dados)

df = pd.DataFrame(dados)
display(df)

[{'job': 'aasf_pix_recb', 'job_id': '1232312131231', 'status': 'sucesso', 'mensagem': 'job executio sucess', 'data': '28/02/2024', 'mensagem_job': 'sucesso'}, {'job': 'aasf_pix_autom', 'job_id': '21233145551512', 'status': 'falha', 'mensagem': 'job aborted', 'data': '27/02/2024', 'mensagem_job': 'erro de conexão'}, {'job': 'aasf_pix_reinv', 'job_id': '55557754748890', 'status': 'falha', 'mensagem': 'script failed', 'data': '27/02/2024', 'mensagem_job': 'erro no script'}, {'job': 'aasf_pix_pagm', 'job_id': '313123155778891', 'status': 'falha', 'mensagem': 'job skiped', 'data': '26/02/2024', 'mensagem_job': 'erro desconhecido'}]

,job,job_id,status,mensagem,data,mensagem_job
0,aasf_pix_recb,1232312131231,sucesso,job executio sucess,28/02/2024,sucesso
1,aasf_pix_autom,21233145551512,falha,job aborted,27/02/2024,erro de conexão
2,aasf_pix_reinv,55557754748890,falha,script failed,27/02/2024,erro no script
3,aasf_pix_pagm,313123155778891,falha,job skiped,26/02/2024,erro desconhecido